@import "tailwindcss";

@import "tw-animate-css";
body {
  font-family: 'Manrope', sans-serif;
  color: #1f2937; /* gray-800 */
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* optional: hide scrollbar track */
}
/*  */